.dsf-form-container {
    margin: 20px;
}

.dsf-form-div-input {
    margin-bottom: 20px;
}


.dsf-form-div-input input, button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
}

.dsf-form-div-input input {
    border: 1px solid var(--dsf-color-card-border);
}

.dsf-form-div-input input::placeholder {
    color: var(--dsf-color-font-placeholder);
}

.dsf-form-div-button button {
    background-color: var(--dsf-color-btn-primary);
    color: var(--dsf-color-font-primary);
    font-size: 16px;
    font-weight: 700;
    border: none;
}